---
http_interactions:
- request:
    method: get
    uri: https://<API_USER>:<API_PASS>@store-vnh06c71.mybigcommerce.com/api/v2/orders.json?min_date_created=Fri,%2001%20Mar%202013%2000:00:00%20%2B0000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Bc-Apilimit-Remaining:
      - '19996'
      X-Bc-Store-Version:
      - 7.5.19
      Last-Modified:
      - Sun, 24 Mar 2013 23:07:53 GMT
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"id":100,"customer_id":1,"date_created":"Sun, 24 Mar 2013 23:07:53
        +0000","date_modified":"Sun, 24 Mar 2013 23:07:53 +0000","date_shipped":"","status_id":11,"status":"Awaiting
        Fulfillment","subtotal_ex_tax":"158.9500","subtotal_inc_tax":"158.9500","subtotal_tax":"0.0000","base_shipping_cost":"0.0000","shipping_cost_ex_tax":"0.0000","shipping_cost_inc_tax":"0.0000","shipping_cost_tax":"0.0000","shipping_cost_tax_class_id":2,"base_handling_cost":"0.0000","handling_cost_ex_tax":"0.0000","handling_cost_inc_tax":"0.0000","handling_cost_tax":"0.0000","handling_cost_tax_class_id":2,"base_wrapping_cost":"0.0000","wrapping_cost_ex_tax":"0.0000","wrapping_cost_inc_tax":"0.0000","wrapping_cost_tax":"0.0000","wrapping_cost_tax_class_id":3,"total_ex_tax":"158.9500","total_inc_tax":"158.9500","total_tax":"0.0000","items_total":3,"items_shipped":0,"payment_method":"","payment_provider_id":null,"payment_status":"","refunded_amount":"0.0000","order_is_digital":false,"store_credit_amount":"0.0000","gift_certificate_amount":"0.0000","ip_address":"101.164.35.146","geoip_country":"","geoip_country_iso2":"","currency_id":1,"currency_code":"USD","currency_exchange_rate":"1.0000000000","default_currency_id":1,"default_currency_code":"USD","staff_notes":"","customer_message":"","discount_amount":"0.0000","coupon_discount":"0.0000","shipping_address_count":1,"is_deleted":false,"billing_address":{"first_name":"","last_name":"","company":"","street_1":"","street_2":"","city":"","state":"Florida","zip":"94041","country":"United
        States","country_iso2":"US","phone":"","email":"test.customer@foobar.xyz.com"},"products":{"url":"https:\/\/store-vnh06c71.mybigcommerce.com\/api\/v2\/orders\/100\/products.json","resource":"\/orders\/100\/products"},"shipping_addresses":{"url":"https:\/\/store-vnh06c71.mybigcommerce.com\/api\/v2\/orders\/100\/shippingaddresses.json","resource":"\/orders\/100\/shippingaddresses"},"coupons":{"url":"https:\/\/store-vnh06c71.mybigcommerce.com\/api\/v2\/orders\/100\/coupons.json","resource":"\/orders\/100\/coupons"}}]'
  recorded_at: Mon, 22 Apr 2013 10:18:49 GMT
recorded_with: VCR 2.4.0
